<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<div> Your rate for mail with weight <%= weight %> of mailing type <&= mailType %> will be a total of $<%= rate %></div>

</body>
</html>
