<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

<form action="" method="POST" id="  ">  
  <input type="textbox" name="weight" id="weight" placeholder="enter the weight">
  <select name="mailType" id="mailType">  
    <option value="LettersStamped">Letters (Stamped)</option>
    <option value="LettersMetered">Letters (Metered)</option>
    <option value="LargeEnvelopes">Large Envelopes (Flats)</option>
    <option value="FirstClass">First-Class Package Service—Retail</option>
  </select>
  <input type="submit" name="submit">
</form>

</body>
</html>
